<hr/>

<div class="container">
  <h2>{{productDetail?.productName}}</h2>
</div>

<div class="container" style="color: black">
  <div class="jumbotron">
    <table>
      <tr>
        <td class="item-image">
          <img src="http://placehold.it/500x200" class="img-rounded"></td>
        <td class="item-content" style="padding-left: 15px;">
          <div>
            <div>
              <div>
                <h2>
                  <a routerLink="/profile/{{productDetail?.userId}}">{{productDetail?.userName}} Profile </a>
                </h2>
              </div>
              <div>
                <span>{{productDetail?.numberOfDownloads}} total downloads</span>
                <span class="divider"> | </span>
                <span>{{productDetail?.rating}} Average Rating</span>
                <span class="divider"> | </span>
                <span>{{productDetail?.ratingList.length}} total Ratings</span>
              </div>
              <div style="padding-top: 15px;">
                <button class="btn btn-primary">Download Konfiguration</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Description</div>
    <div style="padding: 15px;">
      {{productDetail?.productDescription}}
    </div>
  </div>

  <div class="panel panel-default">
    <div>
      <div>
        <h2>User Reviews</h2>
      </div>
      <div>
        <span>Avg Rating: <span class="rating-control">{{productDetail?.rating}}</span></span>
        <div> # of Ratings: {{productDetail?.ratingList.length}}</div>
      </div>

      <hr>
      <div class="table-responsive">
        <table class="table">
          <tbody>
          <tr class="separator" *ngFor="let rating of productDetail?.ratingList">
            <td><a routerLink="/profile/{{rating.userId}}">{{rating.userName}} Profile </a></td>
            <td>
              <div>
                <div>
                  <div class="left">User Rating: {{rating.rating}}<span style="margin-left: 65%;"><a>Flag Rating</a></span></div>
                </div>
                <div>Created on {{rating.creationDate | toDate | date: 'medium'}}</div>
                <hr/>
                <div><span>{{rating.ratingDescription}}</span></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
