<div class="container">
  <h2>{{productDetail?.productName}}</h2>
</div>

<div class="container" style="color: black">
  <div class="jumbotron table-responsive">
    <table class="table">
      <tr>
        <td class="item-image">
          <img [src]="'data:image/jpg;base64,'+productDetail?.productPreviewImage" width="500" height="200" class="img-rounded" *ngIf="productDetail?.productPreviewImage != ''"/>
          <img src="assets/images/no_image.png" width="500" height="200" class="img-rounded" *ngIf="productDetail?.productPreviewImage == ''"/>
        </td>
        <td class="item-content" style="padding-left: 15px;">
          <div>
            <div>
              <div>
                <h2>
                  By <a routerLink="/user/{{productDetail?.userName}}">{{productDetail?.userName}} </a>
                </h2>
              </div>
              <div>
                <span>{{productDetail?.numberOfDownloads}} downloads</span><span class="divider"> | </span>
                <span class="glyphicon" aria-hidden="true" *ngFor="let i of getPopulatedArray(10); let i = index"
                      [class.glyphicon-star]="i <= productDetail?.rating" [class.glyphicon-star-empty]="i >= productDetail?.rating"></span>({{productDetail?.ratingList.length}})
              </div>
              <div style="padding-top: 15px;">
                <button class="btn btn-primary" (click)="updateProductDownloads()">Download Konfiguration</button>
                <!--<a target="_self" href="app/download/product/{{productDetail?.productId}}" download="{{productDetail?.productName}}.pdf">Download Konfiguration</a>-->
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Description</div>
    <div style="padding: 15px;">
      {{productDetail?.productDescription}}
    </div>
  </div>

  <div class="panel panel-default">
    <div style="margin-left: 15px; margin-right: 15px;">
      <div>
        <h2>User Reviews</h2>
      </div>
      <div>
        <span class="glyphicon glyphicon-star" aria-hidden="true" *ngFor="let i of getPopulatedArray(10); let i = index"
              [class.glyphicon-star]="i <= productDetail?.rating" [class.glyphicon-star-empty]="i >= productDetail?.rating"></span>({{productDetail?.ratingList.length}})
        <a routerLink="/addComment/{{productDetail?.productId}}" class="btn btn-primary pull-right" *ngIf="isUserLoggedIn == true">Add rating</a>
      </div>

      <hr>
      <div class="table-responsive">

        <!-- Left-aligned -->
        <div class="media" *ngFor="let rating of productDetail?.ratingList">
          <div class="media-left">
            <img src="{{rating.userAvatarUrl}}" class="media-object" width="60" alt="user avatar" *ngIf="rating.userAvatarUrl != ''"/>
            <img src="assets/images/no_image.png" class="media-object" width="60" alt="user avatar" *ngIf="rating.userAvatarUrl == ''"/>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a routerLink="/user/{{rating.userName}}">{{rating.userName}}</a>
              <span class="glyphicon glyphicon-star" aria-hidden="true" *ngFor="let i of getPopulatedArray(10); let i = index"
                    [class.glyphicon-star]="i <= rating.rating" [class.glyphicon-star-empty]="i >= rating.rating"></span><br/>
              <small><i>Posted on {{rating.creationDate | date: 'medium'}}</i></small>
            </h4>
            <p>{{rating.ratingDescription}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
