.panel {
  border: deeppink 1px solid;
}

.panel-body {
  color: black;
}

.panel-itemInfo {
  font-size: 12px;
}

.carousel-control {
  padding-top: 10%;
  width: 5%;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  border: none;
  margin-top: -45px;
  color: white;
}

.carousel-control.left {
  margin-left: -45px;
}

.carousel-control.right {
  margin-right: -45px;
}
