<div class="container">
  <div class="col-md-12">
    <div class="row">
      <h2>{{title}}
      <span><a class="pull-right btn btn-primary" routerLink="/overview/{{tag}}">See mroe...</a></span></h2>
    </div>
    <div class="row">
      <div id="myCarousel_{{title | removeSpaces}}" class="carousel slide">

        <div class="carousel-inner">
          <div class="item" *ngFor="let items of carouselItemList; let myIndex = index" [class.active]="myIndex === 0">
            <div class="row">
              <div class="" *ngFor="let item of items">
                <a routerLink="/details/{{item.id}}">
                  <div class="col-md-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3>{{item.previewImage | limitTo: 14}}</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                          <h4>{{item.name | limitTo: 14}}</h4>
                        </div>
                        <div class="panel-itemInfo">
                          <span class="pull-left">{{item.author | limitTo:10}}</span>
                          <span class="pull-right">{{item.rating}}</span> <br/>
                          <span class="pull-left">{{item.numberDownloads | formatNumber}}</span>
                          <span class="pull-right">{{item.creationDate | date:"dd/MM/yyyy"}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control" href="#myCarousel_{{title | removeSpaces }}" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel_{{title | removeSpaces }}" data-slide="next">›</a>
      </div>
    </div>
  </div>
</div>
