<hr/>

<div class="container">
  <h2>Dashboard Overview Page</h2>
</div>

<div class="container">
  <app-carousel [title]="'Featured'" [tag]="'featured'"></app-carousel>
</div>

<div class="container">
  <app-carousel [title]="'Most Recent items'" [tag]="'recent'"></app-carousel>
</div>

<div class="container">
  <app-carousel [title]="'Highest Rated Items'" [tag]="'rated'"></app-carousel>
</div>

<div class="container">
  <app-carousel [title]="'Promoted Items'" [tag]="'promoted'"></app-carousel>
</div>

