<div class="jumbotron">
	<hr class="">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="">What is this Marketplace for?</h3>
				</div>
				<div class="panel-body" style="color:black;">
          Upload, Download and rate different configuration for the different NovaTec Open Source Tools.
					<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque
					mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
        </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="">How To?</h3>
				</div>
				<div class="panel-body" style="color:black">
          Login with your GitHub Account and explore and rate the different configuration.
					<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque
					mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.
					Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
        </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="">Plcaeholder.</h3>
				</div>
				<div class="panel-body" style="color:black;" contenteditable="false">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris
					augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac
					orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
				</div>
			</div>
		</div>
	</div>
</div>