<div class="container">
  <h2>{{primarySortOption}} Product Overview</h2>

  <div class="row" id="filter">
    <nav class="navbar">
      <div class="container">
        <ul class="nav nav-pills nav-justified">
          <li>Sort Direction:</li>
          <li class="navbar-nav" *ngFor="let sortDirection of overviewFilterModel.sortOrderList"
              [class.active]="overviewFilterModel.sortOrder===sortDirection"><a (click)="updateSortOrder(sortDirection)">{{sortDirection}}</a></li>
        </ul>
      </div>
    </nav>

    <nav class="navbar">
      <div class="container">
        <ul class="nav nav-pills nav-justified">
          <li>Order result:</li>
          <li class="navbar-nav" *ngFor="let sortOption of overviewFilterModel.sortOptionList"
              [class.active]="overviewFilterModel.primarySortOption === sortOption || overviewFilterModel.additionalSortOption == sortOption">
            <a (click)="addAndUpdateSortOption(sortOption)">Order by {{sortOption}}</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar">
      <div class="container">
        <ul class="nav nav-pills nav-justified">
          <li>Limit Result by Keywords:</li>
          <li class="navbar-nav" *ngFor="let limitTo of overviewFilterModel.limitToList" [class.active]="overviewFilterModel.limitToArray.indexOf(limitTo) !== -1">
            <a (click)="updateLimitToArray(limitTo)">{{limitTo}}</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <ul class="list-unstyled">
      <li *ngFor="let item of overviewItemList?.content">
        <div class="col-md-2">
          <a routerLink="/details/{{item.id}}">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>{{item.previewImage}}</h3>
              </div>
              <div class="panel-body">
                <div>
                  <h4>{{item.name | limitTo: 14}}</h4>
                </div>
                <div class="panel-itemInfo">
                  <span class="pull-left">{{item.author}}</span>
                  <span class="pull-right">{{item.rating}}</span> <br/>
                  <span class="pull-left">{{item.numberDownloads | formatNumber}}</span>
                  <span class="pull-right">{{item.creationDate | date:"dd/MM/yyyy"}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>

  </div>

  <button class="btn btn-primary pull-right" [disabled]="overviewItemList?.last" (click)="updateResultList(overviewItemList?.number)">Load More</button>
</div>
