<hr/>

<div class="container">
  <h2>Show all {{primarySortOption}} items</h2>
</div>

<div class="container">
  <nav class="navbar">
    <div class="container">
      <ul class="nav nav-pills nav-justified">
        <li>Sort Direction:</li>
        <li class="navbar-nav" [class.active]="sortOrder==='ASC'"><a (click)="updateSortOrder('ASC')">ASC</a></li>
        <li class="navbar-nav" [class.active]="sortOrder==='DESC'"><a (click)="updateSortOrder('DESC')">DESC</a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar">
    <div class="container">
      <ul class="nav nav-pills nav-justified">
        <li>Order result:</li>
        <li class="navbar-nav" *ngFor="let sortOption of sortOptionList" [class.active]="primarySortOption === sortOption || additionalSortOption == sortOption">
          <a (click)="addSortOption(sortOption)">Order by {{sortOption}}</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar">
    <div class="container">
      <ul class="nav nav-pills nav-justified">
        <li>Limit Result by Keywords:</li>
        <li class="navbar-nav" *ngFor="let limitTo of limitToList" [class.active]="limitToArray.indexOf(limitTo) !== -1"><a (click)="updateLimitToArray(limitTo)">{{limitTo}}</a></li>
      </ul>
    </div>
  </nav>
</div>

<hr/>

<div class="container">
  <div class="container">

    <ul class="list-unstyled">
      <li *ngFor="let item of overviewItemList?.content">
        <div class="col-md-2">
          <a routerLink="/details/{{item.id}}">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>{{item.previewImage}}</h3>
              </div>
              <div class="panel-body">
                <div>
                  <h4>{{item.name | limitTo: 14}}</h4>
                </div>
                <div class="panel-itemInfo">
                  <span class="pull-left">{{item.author}}</span>
                  <span class="pull-right">{{item.rating}}</span> <br/>
                  <span class="pull-left">{{item.numberDownloads | formatNumber}}</span>
                  <span class="pull-right">{{item.creationDate | date:"dd/MM/yyyy"}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn btn-primary" [disabled]="overviewItemList?.last" (click)="updateList(overviewItemList?.number)">Load More</button>
</div>
