<hr/>
<div class="container">
  <h2>Profile Page</h2>
</div>

<div class="container">
  <div class="col-md-12">
    <div class="well">
      <div class="row">
        <div>
          <ul class="nav nav-tabs col-lg-12" role="tablist">
            <li class="active"><a href="#profile_main" role="tab" data-toggle="tab">Main</a></li>
            <li class=""><a href="#profile_ratings" role="tab" data-toggle="tab">All Ratings</a></li>
            <li class=""><a href="#profile_uploads" role="tab" data-toggle="tab">All uploads</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="profile_main" class="tab-pane panel active">

            <div class="col-md-6">
              <span>Name: </span> Nikita
            </div>
            <div class="col-md-6">
              <span>More Infos: </span> Software Developer<br/>Writing Master Thesis at NovaTec Consulting GmbH
            </div>

          </div>
          <div id="profile_ratings" class="tab-pane panel">
            <div>
              No Ratings yet
            </div>
          </div>
          <div id="profile_uploads" class="tab-pane panel">
            <div>
              No Uploads yet
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
