#footer {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #402d63 0%, #931a17 100%) repeat scroll 0 0;
  font-family: montserratultra_light;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}
