<hr/>

<footer id="footer">
  Follow us
  <ul class="social-links">
    <li><a href="https://twitter.com/inspectIT_APM" rel="nofollow" target="_blank" title="Twitter">Twitter</a></li>
    <li><a href="https://github.com/inspectIT/inspectIT" rel="nofollow" target="_blank" title="GitHub">GitHub</a></li>
  </ul>

  <div id="copy">
    <a href="http://www.inspectit.rocks/impressum" rel="nofollow">Impressum</a> |
    <a href="http://www.inspectit.rocks/datenschutz" rel="nofollow">Datenschutz</a> | &copy; 2017 NovaTec Consulting GmbH
  </div>

</footer>
