<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://www.inspectit.rocks/" title="inspectIT Homepage" class="navbar-brand">
        <img src="assets/images/logo.png" alt="inspectIT Logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
        <li routerLinkActive="active">
          <form class="navbar-form" role="search" (ngSubmit)="searchForItem(searchTerm)" #searchForm="ngForm">
            <div class="input-group">
              <input id="srch-term" type="text" class="form-control" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm" minlength="3" required>
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" [disabled]="!searchForm.valid"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </li>
        <li routerLinkActive="active" *ngIf="user != null && user.userName != null"><a routerLink="addProduct/{{user.userName}}">Add Product</a></li>
        <li routerLinkActive="active" *ngIf="user != null && user.userName != null"><a routerLink="profile/{{user.userName}}">Profil</a></li>
        <li routerLinkActive="active" *ngIf="user == null || user.userName == null"><a routerLink="login">Login</a></li>
        <li routerLinkActive="active" *ngIf="user != null && user.userName != null"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
