.custom {
  background: rgba(255, 255, 255, 0.2) url("assets/images/grid-new.png");
  margin-top: 32px;
  margin-bottom: 32px;
}

.logo {
  float: left;
  margin-right: 10px;
}

.logo img {
  width: 173px;
  height: 50px;
}

.separator {
  font-size: 25px;
  margin-right: 10px;
}

.navbar {
  margin: 0px 20px;
}
