<div class="container">
  <app-navigation-bar></app-navigation-bar>
</div>

<div class="container">
  <h1>Dashboard</h1>
  <p>
    Represent Entry of DashBoardModel : rocks.inspectit.marketplace.mvc.angular.model.DashBoardModel
  </p>
  <div class="row" *ngFor="let element of dashboard">

    <dl>
      <dt>Name</dt>
      <dd>{{element.name}} </dd>
      <dt>Description</dt>
      <dd>{{element.description}}</dd>

      <dt>Creation User</dt>
      <dd>{{element.creationUser}}</dd>
      <dt>Creation Date</dt>
      <dd>{{element.creationDate}}</dd>
      <dt>Modification Date</dt>
      <dd>{{element.modificationDate}}</dd>
      <dt>Rating</dt>
      <dd>{{element.rating | number:'.1-1'}}</dd>
    </dl>

  </div>

  <button (click)="navigateBack()">Back</button>
</div>