/**
 * @author Nikita Kolytschew
 * @version %I%, %G%
 * @since 1.0.4-SNAPSHOT
 */

body{
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  background: transparent linear-gradient(to right, #402d63 0%, #931a17 100%) repeat scroll 0 0;
  color: #eee !important;

  border-radius: 0;
}
